---
layout: default
---

<div class="home">

  <h1 class="page-heading">Artigos</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.heading | escape }}</a>
            </h2>
          <span><p>por: {{ post.author }}</p></span>
          <img src="{{ post.capa }}" alt="{{ post.heading }}">
          <br>
          <p>{{ post.preview }}</p>
          <a class="post-link" href="{{ post.url | relative_url }}">Leia Mais!</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
